.heading {
    background-color: rgb(0,162,232);
    text-align : center;
    padding : 50px;
}

.content {
    background-color : rgb(153,217,234);
    padding : 25px;
    text-align : left;
}

.sections {
    text-align : center;
    padding : 50px;
    background-color : gainsboro;
}

a:link {
color: black;
}
a:visited {
color: black;
}
a:hover {
color: black;
}

.crisis {
    border-left-style : dotted;
    border-right-style : dotted;
    
}

.smartmeters {
    background-color: rgb(234,239,245);
    text-align : center;
    padding : 50px;
}

.smmcontent {
    padding : 25px;
    text-align : left; 
}

.crisislist {
    background-color: aqua;
    padding-top: 225px;
    padding-bottom: 225px;
    position : fixed;
    white-space: nowrap;
}

.crisis_explanation {
    padding-left: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
        
}

.heading {
   background-color: aqua;
   
}